/target/
/client-model/target/
/client-rest-api/target/
/client-web/target/
/client-lde/target/
/client-war/target/
/app-api/target/
/app-rest-api/target/
/web-ui/target/
/web-lde/target/
/web-war/target/
/sample-api-bdd/target/
/model-api/target/
/rest-api/target/
/model-rest-client-impl/target/
/rest-model-client-impl/target/
/rest-client-model-impl/target/
/model-bdd/target/
/model-mock-impl/target/
/rest-server-impl/target/
/app-bom/target/
/app-lde/target/
/app-war/target/
/web-bom/target/